{{ attach_library('av_p_cards/av_p_cards') }}
{% block paragraph %}
   {% block content %}
      {% set fullsize_on = content.field_p_c_image_full_size['#items'].0.value %}
      {% set ads_on = content.field_p_c_ads_placeholder['#items'].0.value %}
      {% set highlight_on = content.field_p_c_highlight['#items'].0.value %}
      {% set image_second_on = content.field_p_c_image_second['#items'].0.value %}
      {% set fixed_on_bottom_on = content.field_p_c_fixed_on_bottom['#items'].0.value %}
      {% set size = content.field_p_c_size['#items'].0.value %}
      {% set design = content.field_p_c_design['#items'].0.value %}
      {% set enable_crop = paragraph.field_p_c_enable_crop.0.value %}
      {% set label = content.field_p_c_label['#items'].0.value %}
      {% set title_top = content.field_p_c_title_jewelry['#items'].0.value %}
      {% set title = content.field_p_c_title['#items'].0.value %}
      {% set text = content.field_p_c_text['#items'].0.value %}
      {% set text_unlimited = content.field_p_c_text_unlimited['#items'].0.value %}
      {% set link = content.field_p_c_link['#items'] %}
      {% set link_uri = link.0.uri %}
      {% set link_url = link.get(0).getUrl().toString() %}
      {% set link_title = link.0.title %}
      {% set link_extern_on = link.get(0).getUrl().external %}
      {% set link_options = link.0.options %}
      {% if link.0 and link.0.options.attributes is iterable %}
         {% set link_attributes = create_attribute(link.0.options.attributes) %}
      {% else %}
         {% set link_attributes = create_attribute() %}
      {% endif %}

      {% set img = content.field_p_c_image['#items'].0 %}
      {% set img_target_id = img.target_id %}
      {% set img_alt = img.alt %}
      {% set img_title = img.title %}
      {% set img_width = img.width %}
      {% set img_height = img.height %}

      {% if link_extern_on %}
         {% set link_attributes = link_attributes.setAttribute('target', '_blank').setAttribute('rel', 'noindex nofollow') %}
      {% endif %}
      {% if link_title %}
         {% set link_attributes = link_attributes.setAttribute('title', title ? (link_title ? title~' - '~link_title : title) : link_title ) %}
      {% else %}
         {% set link_attributes = link_attributes.setAttribute('title', title ? (link_title ? title~' - mehr erfahren' : 'mehr erfahren') : 'mehr erfahren') %}
      {% endif %}

      {% set main_class = [
                     'ph-cards', 
                     'rc',
                     'cssf--position_relative--w100p',
                     'cssf--flex-layout--fd_column',
                     'cssf--gc_span_12--gr_span_1',      
                     ads_on?'cards-ads',
                     highlight_on?'highlight', 
                     'paragraph',
                     'paragraph--type--' ~ paragraph.bundle|clean_class,
                     view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
                     not paragraph.isPublished() ? 'paragraph--unpublished',
                     design?design
                  ]%}
      {% set inner_wrapper_class  = [ 
                     'inner-wrapper',
                     'cssf--h100p',
                  ]
      %} 
      {% set size_second_class = []%}
      {% if size == 'card-size-100' %}
         {% set main_class  = main_class|merge([ 
                        'card-size-100',
                     ])
         %}
         {% set inner_wrapper_class  = inner_wrapper_class|merge([ 
                        'cssf--mq992--flex-layout--container-type_normal',
                     ])
         %}
      {% elseif size == 'card-size-66' %}
         {% set main_class  = main_class|merge([ 
                        'card-size-66', 
                        'cssf--mq576--gc_span_12--gr_span_1', 
                        'cssf--mq768--gc_span_12--gr_span_1', 
                        'cssf--mq992--gc_span_8--gr_span_1', 
                        'cssf--mq1200--gc_span_8--gr_span_1', 
                     ])
                     %}  
         {% set inner_wrapper_class  = inner_wrapper_class|merge([ 
                        'cssf--mq768--flex-layout--container-type_normal', 
                     ])
         %}
      {% elseif size == 'card-size-50' %}
         {% set main_class  = main_class|merge([ 
                        'card-size-50', 
                        'cssf--mq576--gc_span_12--gr_span_1', 
                        'cssf--mq768--gc_span_12--gr_span_1', 
                        'cssf--mq992--gc_span_6--gr_span_1', 
                        'cssf--mq1200--gc_span_6--gr_span_1', 
                     ])
                     %}  
         {% set inner_wrapper_class  = inner_wrapper_class|merge([ 
                     ])
         %}
      {% elseif size == 'card-size-33' %}
         {% set main_class  = main_class|merge([ 
                        'card-size-33', 
                        'cssf--mq576--gc_span_6--gr_span_1', 
                        'cssf--mq768--gc_span_6--gr_span_1', 
                        'cssf--mq992--gc_span_4--gr_span_1', 
                        'cssf--mq1200--gc_span_4--gr_span_1', 
                     ])
                     %}
         {% set inner_wrapper_class  = inner_wrapper_class|merge([ 
                     ])
         %}
      {% else %}
         {% set main_class  = main_class|merge([ 
                        'card-size-33', 
                        'cssf--mq576--gc_span_6--gr_span_1', 
                        'cssf--mq768--gc_span_6--gr_span_1', 
                        'cssf--mq992--gc_span_4--gr_span_1', 
                        'cssf--mq1200--gc_span_4--gr_span_1', 
                     ])
                     %}
         {% set inner_wrapper_class  = inner_wrapper_class|merge([ 
                     ])
         %}
      {% endif %}
      
      <div {{ attributes.addClass(main_class) }}>     
       
      {% set inner_wrapper_attributes = create_attribute() %}     
         {% if ads_on %}
         
         {% else %}
            {% if link %}
               <a href="{{ link_url }}"{{ link_attributes.addClass(['cssf--all_unset--h100p--cursor_pointer']) }}>
            {% endif %} 
            {% if label %}
                  <span class="label">{{ label }}</span>
            {% endif %}
            <div {{ inner_wrapper_attributes.addClass(inner_wrapper_class) }}>     
                       
               {% if img_target_id %}
               
                  {% set image_wrapper_attributes = create_attribute() %}
                  {% set image_wrapper_class  = [ 
                                 'image-wrapper',
                                 'cssf--o_0',
                                 image_second_on?'cssf--mq768--o_1',
                                 fullsize_on?'image-fullsize',
                                 fullsize_on?'cssf--h100p',
                                 'cssf--flex_1',
                                 'cssf--d_flex--ai_stretch',
                              ]
                  %}                    
                  <div{{ image_wrapper_attributes.addClass(image_wrapper_class) }}>
                     {% if fullsize_on %}     
                        {% if img_target_id %}
                           <picture>
                              {{ drupal_image(img_target_id,'', {loading: 'lazy'}) }}
                           </picture>
                        {% endif %}                           
                     {% else %}
                        <figure class="cssf--d_flex--m0">
                           {% set responsive_image_style = '' %}
                           {% set view = 'dm_cards_fp_33p' %}
                           {% set responsive = false %}

                           {% if(size) %}
                              {% if(size == "card-size-100") %}
                                 {% if(enable_crop) %}
                                    {%  set responsive_image_style = 'ris_cards_fp_100p' %}
                                 {% else %}
                                    {%  set responsive_image_style = 'ris_cards_100p' %}
                                 {% endif %}                                     
                                 {% if(enable_crop) %}
                                    {%  set view = 'dm_cards_fp_100p' %}
                                 {% else %}
                                    {%  set view = 'dm_cards_100p' %}
                                 {% endif %}                                      
                                 {% set responsive = true %}
                              {% elseif(size == "card-size-50") %}
                                 {% if(enable_crop) %}
                                    {%  set responsive_image_style = 'ris_cards_fp_50p' %}
                                 {% else %}
                                    {%  set responsive_image_style = 'ris_cards_50p' %}
                                 {% endif %}                                   
                                 {% if(enable_crop) %}
                                    {%  set view = 'dm_cards_fp_50p' %}
                                 {% else %}
                                    {%  set view = 'dm_cards_50p' %}
                                 {% endif %} 
                                 {% set responsive = true %}
                              {% elseif(size == "card-size-66") %}
                                 {% if(enable_crop) %}
                                    {%  set responsive_image_style = 'ris_cards_fp_66p' %}
                                 {% else %}
                                    {%  set responsive_image_style = 'ris_cards_66p' %}
                                 {% endif %}                                   
                                 {% if(enable_crop) %}
                                    {%  set view = 'dm_cards_fp_66p' %}
                                 {% else %}
                                    {%  set view = 'dm_cards_66p' %}
                                 {% endif %} 
                                 {% set responsive = true %}
                              {% elseif(size == "card-size-33") %}  
                                 {% if(enable_crop) %}
                                    {%  set responsive_image_style = 'ris_cards_fp_33p' %}
                                 {% else %}
                                    {%  set responsive_image_style = 'ris_cards_33p' %}
                                 {% endif %}                                    
                                 {% if(enable_crop) %}
                                    {%  set view = 'dm_cards_fp_33p' %}
                                 {% else %}
                                    {%  set view = 'dm_cards_33p' %}
                                 {% endif %} 
                                 {% set responsive = true %}
                              {% endif %}    
                           {% endif %}
                           {{ paragraph.field_p_c_image|view(view) }} 
                        </figure>
                     {% endif %}      
                  </div>
               {% endif %}

               {% if not fullsize_on %}
                  {# 'cssf--position_relative--w100p--flex-layout--fd_column--fw_nowrap--o_1', #}
                  {% set content_attributes = create_attribute() %}
                  {% set content_class  = [ 
                                 'content-wrapper',
                                 'cssf--flex-layout--fd_column--h100p--container-type_normal',
                                 fixed_on_bottom_on?'cssf--target-tag-div--target-pseudo-class-last-child--mt_auto',
                                 image_second_on?'cssf--mq768--o_0',
                                 'cssf--flex_1',
                              ]
                  %}
                  
                 {#% set content_class  = content_class|merge(['cssf--gcolx12']) %#}                    
                  <div{{ content_attributes.addClass(content_class) }}>
                     {% if title_top and not fullsize_on %}
                        <div class="topline-wrapper cssf--w100p">
                           {{ title_top }}
                        </div>
                     {% endif %}
                     {% if title %}
                        <div class="title-wrapper cssf--w100p">
                           <h2>{{ title }}</h2>
                        </div>
                     {% endif %}
                     {% if text  %}
                        <div class="text-wrapper cssf--w100p">
                           <p>{{ text }}</p>
                        </div>
                     {% endif %}
                     {% if text_unlimited  %}
                        <div class="text-wrapper cssf--w100p">
                           {{ text_unlimited|raw }}
                        </div>
                     {% endif %}
                     {% if link  %}
                        {% if img_target_id  %}{#
                           <div class="text-link">
                              {% if link_title %}
                                 <span class="link" title="{{ link_title }}"{{ link_attributes }}>{{ link_title }}</span>
                              {% else %}
                                 <span class="link" title="mehr erfahren"{{ link_attributes }}>mehr erfahren</span>
                              {% endif %}
                           </div> #}
                        {% else %}
                           <div class="text-link icon">
                              {% if link_title %}
                                 {# <span class="link" title="{{ link_title }}"{{ link_attributes }}> #}
                                 <span class="link"{{ link_attributes }}>
                                    <i class="fa-solid fa-circle-chevron-right" aria-label="{{ link_attributes.title }}"></i>
                                 </span>
                              {% else %}
                                 {# <span class="link" title="mehr erfahren"{{ link_attributes }}> #}
                                 <span class="link"{{ link_attributes }}>
                                    <i class="fa-solid fa-circle-chevron-right" aria-label="{{ link_attributes.title }}"></i>
                                 </span>
                              {% endif %}
                           </div>
                        {% endif %}
                     {% endif %}
                  </div>
               {% endif %}
            </div>
            {% if link %}
               </a>
            {% endif %}      
         {% endif %}
      </div>
   {% endblock %}
{% endblock paragraph %}


